/* globals */

body {
    margin: 0;
    padding: 0;
    min-width: 1200px;

    font-family: 'Roboto', Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    color: black;

    background-color: white;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;

    border: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

a {
    text-decoration: none;
}


/* centering */

.container-bg-color {
    background-color: #eeeeee;
}

.container-center-main {
    width: 1160px;
    margin: 0 auto;
    padding: 0 20px;
}

.container-center-map {
    width: 1440px;
    margin: 0 auto;
    padding: 0;
}


/* buttons */

.btn {
    display: inline-block;
    box-sizing: border-box;
    padding: 16px;

    font: inherit;
    line-height: 18px;
    color: white;
    text-transform: uppercase;
    text-align: center;

    background-color: #fb565a;
    border: none;
    border-radius: 3px;
}

.btn-red:hover,
.btn-red:focus {
    background-color: #e74246;
}

.btn-red:active {
    color: rgba(255, 255, 255, 0.3);

    box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
    background-color: #d7373b;
}

.btn-green {
    background-color: #00ca74;
}

.btn-green:hover,
.btn-green:focus {
    background-color: #00bc6c;
}

.btn-green:active {
    color: rgba(255, 255, 255, 0.3);

    box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
    background-color: #00aa62;
}

.btn-yellow {
    background-color: #efc84a;
}

.btn-yellow:hover,
.btn-yellow:focus {
    background-color: #eab534;
}

.btn-yellow:active {
    color: rgba(255, 255, 255, 0.3);

    box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
    background-color: #e5a722;
}

.btn-gray {
    color: #000000;
    background-color: #eeeeee;
}

.btn-gray-active {
    padding-top: 13px;
    padding-bottom: 13px;

    color: #000000;

    background-color: #ffffff;
    border: 3px solid #dbdbdb;
}

.btn-gray:hover,
.btn-gray:focus {
    background-color: #dfdfdf;
}

.btn-gray:active {
    color: rgba(0, 0, 0, 0.3);

    box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
    background-color: #d5d5d5;
}

.btn-w50px {
    width: 50px;
}

.btn-w160px {
    width: 160px;
}

.btn-w200px {
    width: 200px;
}

.btn-w220px {
    width: 220px;
}

.btn-w240px {
    width: 240px;
}

.btn-w260px {
    width: 260px;
}


/* header.navigation */

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
}

.nav-logo {
    margin: 0;
}

.nav-logo-link:hover {
    opacity: 0.8;
}

.nav-logo-link:active {
    opacity: 0.3;
}

.nav-menu-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 435px;
    margin: 0;
    margin-right: 45px;
    padding: 0;

    list-style: none;
}

.nav-menu-link-active {
    border-bottom: 2px solid #fb565a;
}

.nav-menu-link {
    padding-top: 10px;
    padding-bottom: 10px;

    color: black;
    line-height: 30px;
    text-transform: uppercase;
}

.nav-menu-link:not(.nav-menu-link-active):hover {
    color: #fb565a;
}

.nav-menu-link:not(.nav-menu-link-active):active {
    color: rgba(0, 0, 0, 30%)
}

.nav-basket-link {
    position: relative;
    padding: 10px 0 10px 40px;
}

.nav-basket-link::before {
    position: absolute;
    content: "";
    top: 13px;
    left: 0px;

    width: 15px;
    height: 15px;

    background-image: url("../img/cart-icon.svg");
}


/* main.slider */

.slider {
    position: relative;

    margin-bottom: 85px;
}

.slider-list {
    margin: 0;
    padding: 0;

    list-style: none;
}

.slider-title {
    max-width: 600px;
    margin: 0;
    margin-bottom: 25px;
    padding-top: 70px;

    font-size: 55px;
    line-height: 55px;
    font-weight: 500;
}

.slider-desc {
    max-width: 430px;
    margin: 0;
    margin-bottom: 40px;

    color: #283136;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.slider-btn {
    margin-bottom: 75px;
}

.slider-item {
    display: none;
}

.slider-item:nth-child(1) {
    background-image: url("../img/slide1.png");
    background-repeat: no-repeat;
    background-position: 93% 10px;
}

.slider-item:nth-child(2) {
    background-image: url("../img/slide2.png");
    background-repeat: no-repeat;
    background-position: 100% -5px;
}

.slider-item:nth-child(3) {
    background-image: url("../img/slide3.png");
    background-repeat: no-repeat;
    background-position: 100% 10px;
}

.slider-item-visible {
    display: block;
}

.slider-knobs {
    position: absolute;
    left: 50%;
    bottom: 85px;

    font-size: 0;
    line-height: 0;
    transform: translateX(-50%);
}

.slider-knob {
    position: relative;

    display: inline-block;
    width: 18px;
    height: 18px;
    padding: 8px;
    line-height: 0;
    font-size: 0;

    /* background-color: red; */
    border: none;
    border-radius: 50%;
    cursor: pointer;
}

.slider-knob::before {
    position: absolute;
    content: "";

    width: 18px;
    height: 18px;

    border-radius: 50%;
    background: #fff;
}

.slider-input:checked+.slider-knob::after {
    position: absolute;
    content: "";
    top: calc(50% - 4px);
    left: calc(50% - 4px);

    width: 4px;
    height: 4px;

    border: 2px solid #c1c1c1;
    border-radius: 50%;
}

.slider-input:focus+.slider-knob {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
}


/* main.services */

.services-title {
    margin: 0;
    margin-bottom: 15px;

    font-size: 24px;
    line-height: 30px;
    text-transform: uppercase;
    font-weight: 700;
}

.services-desc {
    margin: 0;
    margin-bottom: 30px;
    width: 260px;

    font-weight: 400;
    color: #283136;
}

.services-list {
    display: flex;
    margin: 0;
    padding: 0;

    list-style: none;
}

.services-item {
    width: 300px;
    margin-right: 100px;
}

.services-item:last-child {
    margin-right: 0;
}

.services-item::before {
    display: block;
    content: "";
    width: 300px;
    height: 146px;
    margin-bottom: 25px;

    background-repeat: no-repeat;
}

.services-item:nth-child(1)::before {
    background-image: url("../img/illustration-1.png");
}

.services-item:nth-child(2)::before {
    background-image: url("../img/illustration-2.png");
}

.services-item:nth-child(3)::before {
    background-image: url("../img/illustration-3.png");
}

.services::after {
    display: block;
    content: "";
    height: 80px;

    border-bottom: 2px solid #eeeeee;
}


/* main.about */

.about-title {
    margin: 0;
    margin-top: 35px;
    margin-bottom: 35px;

    font-size: 45px;
    line-height: 45px;
}

.about-desc {
    margin: 0;
    margin-bottom: 35px;

    color: #283136;
    font-weight: 400;
}

.about-title-small {
    margin: 0;

    font-weight: 700;
    text-transform: uppercase;
}

.about-title-small-left {
    margin-bottom: 25px;
}

.about-services-list {
    margin: 0;
    padding: 0;

    list-style: none;
}

.about-services-item:not(:last-child) {
    margin-bottom: 25px;
}

.about-services-item::before {
    display: inline-block;
    content: "";
    margin: 0 10px 4px 0;
    padding: 0;
    width: 25px;
    height: 2px;

    background: #fb565a;
}

.about-logo {
    margin-bottom: 30px;
}

.about-title-small-right {
    margin-bottom: 52px;

    text-align: center;
}

.about-perc-list {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;

    list-style: none;
}

.about-perc-item {
    width: 120px;
}

.about-perc-title {
    margin: 0;
    margin-bottom: 35px;

    font-size: 45px;
    font-weight: 700;
    line-height: 10px;
}

.about-perc-sup {
    vertical-align: super;
    font-size: 26px;
}

.about-perc-desc {
    margin: 0;

    color: #283136;
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
}

.about-columns-container {
    display: flex;
    margin-top: 40px;
}

.about-column-left {
    width: 700px;
}

.about-column-right {
    width: 360px;
    margin-left: auto;
}

.about::after {
    display: block;
    content: "";
    height: 75px;

    border-bottom: 2px solid #eeeeee;
}


/* main.partners */

.partners-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    padding: 0;
    min-height: 180px;

    list-style: none;
}

.partners-link {
    opacity: 0.2;
}

.partners-link:hover {
    opacity: 1;
}

.partners-link:active {
    opacity: 0.1;
}

.partners::after {
    display: block;
    content: "";
    height: 80px;

    border-top: 2px solid #eeeeee;
}


/* footer.contacts */

.contacts-title {
    margin: 0;
    margin-bottom: 25px;

    font-size: 18px;
    font-weight: 700;
    line-height: 30px;
    text-transform: uppercase;
}

.contacts-address {
    margin-bottom: 40px;

    color: #666666;
    font-weight: 400;
    line-height: 18px;
    font-style: normal;
}

.contacts-container-relative {
    position: relative;

    line-height: 0;
}

.contacts-map-yandex {
    position: relative;
    z-index: 2;
}

.contacts-map-png {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;

    margin: 0;
}

.contacts-card {
    position: absolute;
    top: 55px;
    left: 140px;
    z-index: 3;

    padding: 45px 50px;
    background: white;
}

.contacts-marker {
    position: absolute;
    top: 85px;
    left: 820px;
    z-index: 3;
}


/* footer.socials */

.socials-flex-container {
    display: flex;
    align-items: center;
    min-height: 210px;
}

.socials-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 260px;
    margin: 40px 0;
    margin-right: 100px;
    padding: 0;

    list-style: none;
}

.socials-column-right {
    margin: 40px;
}

.socials-title {
    margin: 0;
    margin-bottom: 10px;

    font-size: 36px;
    font-weight: 700;
    line-height: 36px;
}

.socials-cont {
    margin: 0;

    color: #444444;
    font-weight: 400;
    line-height: 22px;
}

.socials-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;

    border-radius: 50%;
    background-color: #e1e1e1;
}

.socials-button:hover {
    background-color: #e74246;
}

.socials-button:active {
    background-color: #d7373b;
    box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
}

.socials-button:active path {
    fill: rgba(255, 255, 255, 0.3);
}


/* modals.writeus */



.modal-writeus {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 960px;
    z-index: 5;

    display: none;

    box-sizing: border-box;
    padding: 65px 100px 85px;

    background-color: white;
    box-shadow: 0 20px 40px rgba(0, 1, 1, 0.75);
}

.modal-show {
    display: block;
}

.writeus-columns-container {
    display: flex;
    justify-content: space-between;
}

.writeus-title {
    margin: 0;
    margin-bottom: 45px;

    font-size: 45px;
    font-weight: 500;
    line-height: 45px;
}

.writeus-p-column {
    margin: 0;
    margin-bottom: 20px;
    width: 360px;
}

.writeus-label {
    display: block;
    margin-bottom: 5px;

    font-weight: 700;
    line-height: 18px;
}

.writeus-input {
    width: 360px;
    padding: 15px 10px;
    box-sizing: border-box;
    margin-bottom: 15px;

    font: inherit;
    color: #444444;
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;

    background-color: transparent;
    border: 2px solid #d7dcde;
    border-radius: 3px;
    opacity: 0.5;
}

.writeus-p-textarea {
    margin: 0;
    margin-bottom: 25px;
}

.writeus-input-textarea {
    width: 760px;
    min-height: 120px;
    resize: none;
}

.writeus-input:hover {
    border: 2px solid #b4b9bb;
    opacity: 0.5;
}

.writeus-input:focus {
    border: 2px solid #000000;
    opacity: 1;
}

.writeus-input:invalid {
    color: #e74246;

    border: 2px solid #e74246;
    opacity: 1;
}

.writeus-close {
    position: absolute;
    top: 85px;
    right: 105px;

    padding: 0;
    width: 40px;
    height: 40px;

    opacity: 0.3;
    border: 0;
    background: none;
}

.writeus-close::before,
.writeus-close::after {
    content: "";
    position: absolute;
    top: 18px;
    left: 8px;

    width: 25px;
    height: 4px;

    background-color: #fb565a;
}

.writeus-close::before {
    transform: rotate(-45deg);
}

.writeus-close::after {
    transform: rotate(45deg);
}

.writeus-close:hover,
.writeus-close:focus {
    opacity: 1.0;
}

.writeus-close:active::before,
.writeus-close:active::after {
    background-color: rgba(251, 86, 90, 0.1);
}



/* catalog.html */


/* main */

.catalog-title {
    margin: 0;
    padding: 0;
    padding-top: 70px;
    padding-bottom: 110px;

    color: #000000;
    font-size: 55px;
    line-height: 55px;
    text-align: center;

    background-color: #eeeeee;
}

.catalog-flex-columns {
    display: flex;
    justify-content: space-between;
}


/* filter */

.filter {
    width: 260px;

    margin: 0;
    padding: 0;
}

.filter-fieldset {
    margin: 0;
    padding: 0;

    border: none;
}

.filter-title {
    margin: 0;
    padding: 0;

    font-size: 18px;
    font-weight: 700;
    line-height: 30px;
    text-transform: uppercase;
    /* letter-spacing: 1.05px; */

    border: none;
}

.filter-title-price {
    padding-top: 52px;
    padding-bottom: 47px;
}

.filter-range-controls {
    position: relative;

    height: 41px;
    margin-bottom: 15px;
    padding-top: 39px;
    padding-left: 20px;
    padding-right: 20px;

    background-color: #eeeeee;
    border-radius: 5px;
}

.filter-scale {
    height: 2px;

    background-color: #d7dcde;
}

.filter-fill {
    width: 70%;
    height: 2px;

    background-color: #00ca74;
}

.filter-knob {
    position: absolute;
    top: 31px;

    width: 4px;
    height: 4px;
    padding: 0;

    border: 8px solid white;
    border-radius: 50%;
    background-color: #ababab;
    box-shadow: 0 2px 1px 0 #cfcfcf;
    cursor: pointer;
}

.filter-knob-min {
    left: 18px;
}

.filter-knob-max {
    left: 160px;
}

.filter-price-controls {
    margin-bottom: 30px;

    font-size: 0;
}

.filter-price-min-label,
.filter-price-max-label {
    display: inline-block;
    width: 50%;

    font-size: 16px;
    text-transform: uppercase;
}

.filter-price-min-input,
.filter-price-max-input {
    width: 60px;
    padding: 8px 10px;
    margin-left: 10px;

    font: inherit;
    text-align: center;
    color: #283136;

    border: none;
    border-radius: 5px;
    background: #f1f1f1;
}

.filter-price-max-label {
    text-align: right;
}

.filter-title-grid,
.filter-title-features {
    padding-top: 25px;
    padding-bottom: 15px;
}

.filter-list {
    margin: 0;
    padding: 0;

    list-style: none;
}

.filter-label {
    display: block;

    color: #283136;
    font-weight: 400;
    line-height: 20px;
}

.filter-radio {
    position: relative;

    display: inline-block;
    margin-bottom: 18px;
    padding-left: 35px;
}

.filter-radio::before {
    position: absolute;
    content: url("../img/radio-off.svg");
    left: 0;
    top: -3px;

    font-size: 0;
    line-height: 0;

    opacity: 0.5;
}

.filter-radio-input:checked+.filter-radio::before {
    content: url("../img/radio-on.svg");
}

.filter-radio-input:focus+.filter-radio::before {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
}

.filter-checkbox {
    position: relative;

    display: inline-block;
    margin-bottom: 18px;
    padding-left: 35px;
}

.filter-checkbox::before {
    position: absolute;
    content: url("../img/checkbox-off.svg");
    left: 1px;
    top: -2px;

    font-size: 0;
    line-height: 0;

    opacity: 0.5;
}

.filter-checkbox-input:checked+.filter-checkbox::before {
    content: url("../img/checkbox-on.svg");
}

.filter-checkbox-input:focus+.filter-checkbox::before {
    border-color: #663d15;
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
}

.btn-filter {
    margin-top: 30px;
}


/* store */

.store {
    width: 760px;
}

.sort-flex-title {
    display: flex;
    align-items: baseline;
    justify-content: space-between;

    margin: 55px 0;
}

.sort-title {
    margin: 0;
    padding: 0;
    width: 360px;

    font-size: 18px;
    font-weight: 700;
    line-height: 18px;
    text-transform: uppercase;
}

.sort-options {
    display: flex;

    margin: 0;
    padding: 0;
    width: 360px;

    color: black;
    font: inherit;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    text-transform: uppercase;
}

.sort-link {
    margin-right: 26px;

    color: rgba(0, 0, 0, 0.3);
}

.sort-link-active {
    color: rgba(0, 0, 0, 1.0);
}

.sort-arrow-down {
    margin-left: 22px;
}

.sort-arrow-up {
    margin-left: auto;
}

.sort-arrow-active path {
    fill: #231f20;
}

.store-list {
    display: flex;
    flex-wrap: wrap;

    margin: 0;
    margin-bottom: 30px;
    padding: 0;

    line-height: 0;

    list-style: none;
}

.store-item {
    position: relative;

    margin-bottom: 33px;
}

.store-item:not(:nth-child(even)) {
    margin-right: 40px;
}

.store-item::before {
    display: block;
    content: url(../img/browser.svg);

    opacity: 0.12;
}

.store-item:hover {
    box-shadow: 0 5px 10px rgba(0, 1, 1, 0.4);
}

.store-item:hover::before {
    opacity: 1.0;
}

.store-details {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;

    display: none;
    padding: 30px 0 40px;

    text-align: center;

    background-color: #eeeeee;
}

.store-item:hover .store-details {
    display: block;
}

.details-title {
    display: block;

    margin: 0;
    margin-bottom: 15px;

    color: inherit;
    font-size: 18px;
    font-weight: 700;
    line-height: 30px;
    text-transform: uppercase;
}

.details-content {
    margin: 0 10px 30px;

    color: #666666;
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
}

.store-pages {
    display: flex;
    justify-content: space-between;
    width: 440px;


    margin-bottom: 60px;
}