/* globals */

body {
    margin: 0;
    padding: 0;
    min-width: 1200px;

    font-family: 'Roboto', Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    color: black;

    background-color: white;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;

    border: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

a {
    text-decoration: none;
}


/* centering */

.container-bg-color {
    background-color: #eeeeee;
}

.container-center-main {
    width: 1160px;
    margin: 0 auto;
    padding: 0 20px;
}

.container-center-map {
    width: 1440px;
    margin: 0 auto;
    padding: 0;
}


/* buttons */

.btn {
    display: inline-block;
    box-sizing: border-box;
    padding: 16px;

    font: inherit;
    line-height: 18px;
    color: white;
    text-transform: uppercase;
    text-align: center;

    background-color: #fb565a;
    border: none;
    border-radius: 3px;
}

.btn-red:hover,
.btn-red:focus {
    background-color: #e74246;
}

.btn-red:active {
    color: rgba(255, 255, 255, 0.3);

    box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
    background-color: #d7373b;
}

.btn-green {
    background-color: #00ca74;
}

.btn-green:hover,
.btn-green:focus {
    background-color: #00bc6c;
}

.btn-green:active {
    color: rgba(255, 255, 255, 0.3);

    box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
    background-color: #00aa62;
}

.btn-yellow {
    background-color: #efc84a;
}

.btn-yellow:hover,
.btn-yellow:focus {
    background-color: #eab534;
}

.btn-yellow:active {
    color: rgba(255, 255, 255, 0.3);

    box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
    background-color: #e5a722;
}

.btn-gray {
    color: #000000;
    background-color: #eeeeee;
}

.btn-gray-active {
    padding-top: 13px;
    padding-bottom: 13px;

    color: #000000;

    background-color: #ffffff;
    border: 3px solid #dbdbdb;
}

.btn-gray:hover,
.btn-gray:focus {
    background-color: #dfdfdf;
}

.btn-gray:active {
    color: rgba(0, 0, 0, 0.3);

    box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
    background-color: #d5d5d5;
}

.btn-w50px {
    width: 50px;
}

.btn-w160px {
    width: 160px;
}

.btn-w220px {
    width: 220px;
}

.btn-w240px {
    width: 240px;
}

.btn-w260px {
    width: 260px;
}


/* header.navigation */

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
}

.nav-logo {
    margin: 0;
}

.nav-menu-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 435px;
    margin: 0;
    margin-right: 45px;
    padding: 0;

    list-style: none;
}

.nav-menu-link-active {
    border-bottom: 2px solid #fb565a;
}

.nav-menu-link {
    padding-top: 10px;
    padding-bottom: 10px;

    color: black;
    line-height: 30px;
    text-transform: uppercase;
}

.nav-menu-link:not(.nav-menu-link-active):hover {
    color: #fb565a;
}

.nav-menu-link:not(.nav-menu-link-active):active {
    color: #000000;
    opacity: 0.3;
}

.nav-basket-link {
    position: relative;
    padding: 10px 0 10px 40px;
}

.nav-basket-link::before {
    position: absolute;
    content: "";
    top: 13px;
    left: 0px;

    width: 15px;
    height: 15px;

    background-image: url("../img/cart-icon.svg");
}


/* main.slider */

.slider {
    position: relative;

    margin-bottom: 85px;
}

.slider-list {
    margin: 0;
    padding: 0;

    list-style: none;
}

.slider-title {
    max-width: 600px;
    margin: 0;
    margin-bottom: 30px;
    padding-top: 70px;

    font-size: 55px;
    line-height: 55px;
    font-weight: 500;
}

.slider-desc {
    max-width: 430px;
    margin: 0;
    margin-bottom: 40px;

    color: #283136;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.slider-btn {
    margin-bottom: 75px;
}

.slider-item:not(:nth-child(1)) {
    display: none;
}

.slider-item:nth-child(1) {
    background-image: url("../img/slide1.png");
    background-repeat: no-repeat;
    background-position: 93% 10px;
}

.slider-item:nth-child(2) {
    background-image: url("../img/slide2.png");
    background-repeat: no-repeat;
    background-position: 100% -5px;
}

.slider-item:nth-child(3) {
    background-image: url("../img/slide3.png");
    background-repeat: no-repeat;
    background-position: 100% 10px;
}

.slider-indicators {
    position: absolute;
    left: 50%;
    bottom: 85px;

    font-size: 0;
    line-height: 0;
    transform: translateX(-50%);
}

.slider-indicator {
    position: relative;

    display: inline-block;
    width: 18px;
    height: 18px;
    padding: 8px;
    line-height: 0;
    font-size: 0;

    /* background-color: red; */
    border: none;
    border-radius: 50%;
    cursor: pointer;
}

.slider-indicator::before {
    position: absolute;
    content: "";

    width: 18px;
    height: 18px;

    border-radius: 50%;
    background: #fff;
}

.slider-input:checked + .slider-indicator::after {
    position: absolute;
    content: "";
    top: calc(50% - 4px);
    left: calc(50% - 4px);

    width: 4px;
    height: 4px;

    border: 2px solid #c1c1c1;
    border-radius: 50%;
}

.slider-input:focus + .slider-indicator {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
}


/* main.services */

.services-title {
    margin: 0;
    margin-bottom: 15px;

    font-size: 24px;
    line-height: 30px;
    text-transform: uppercase;
    font-weight: 700;
}

.services-desc {
    margin: 0;
    margin-bottom: 30px;
    width: 260px;

    font-weight: 400;
    color: #283136;
}

.services-list {
    display: flex;
    margin: 0;
    padding: 0;

    list-style: none;
}

.services-item {
    width: 300px;
    margin-right: 100px;
}

.services-item:last-child {
    margin-right: 0;
}

.services-item::before {
    display: block;
    content: "";
    width: 300px;
    height: 146px;
    margin-bottom: 25px;

    background-repeat: no-repeat;
}

.services-item:nth-child(1)::before {
    background-image: url("../img/illustration-1.png");
}

.services-item:nth-child(2)::before {
    background-image: url("../img/illustration-2.png");
}

.services-item:nth-child(3)::before {
    background-image: url("../img/illustration-3.png");
}

.services::after {
    display: block;
    content: "";
    height: 80px;

    border-bottom: 2px solid #eeeeee;
}


/* main.about */

.about-title {
    margin: 0;
    margin-top: 35px;
    margin-bottom: 35px;

    font-size: 45px;
    line-height: 45px;
}

.about-desc {
    margin: 0;
    margin-bottom: 35px;

    color: #283136;
    font-weight: 400;
}

.about-title-small {
    margin: 0;

    font-weight: 700;
    text-transform: uppercase;
}

.about-title-small-left {
    margin-bottom: 25px;
}

.about-services-list {
    margin: 0;
    padding: 0;

    list-style: none;
}

.about-services-item:not(:last-child) {
    margin-bottom: 25px;
}

.about-services-item::before {
    display: inline-block;
    content: "";
    margin: 0 10px 4px 0;
    padding: 0;
    width: 25px;
    height: 2px;

    background: #fb565a;
}

.about-logo {
    margin-bottom: 30px;
}

.about-title-small-right {
    margin-bottom: 52px;

    text-align: center;
}

.about-perc-list {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;

    list-style: none;
}

.about-perc-item {
    width: 120px;
}

.about-perc-title {
    margin: 0;
    margin-bottom: 35px;

    font-size: 45px;
    font-weight: 700;
    line-height: 10px;
}

.about-perc-sup {
    vertical-align: super;
    font-size: 26px;
}

.about-perc-desc {
    margin: 0;

    color: #283136;
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
}

.about-columns-container {
    display: flex;
    margin-top: 40px;
}

.about-column-left {
    width: 700px;
}

.about-column-right {
    width: 360px;
    margin-left: auto;
}

.about::after {
    display: block;
    content: "";
    height: 75px;

    border-bottom: 2px solid #eeeeee;
}


/* main.partners */

.partners-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    padding: 0;
    min-height: 180px;

    list-style: none;
}

.partners-link {
    opacity: 0.2;
}

.partners-link:hover {
    opacity: 1;
}

.partners-link:active {
    opacity: 0.1;
}

.partners::after {
    display: block;
    content: "";
    height: 80px;

    border-top: 2px solid #eeeeee;
}


/* footer.contacts */

.contacts-title {
    margin: 0;
    margin-bottom: 25px;

    font-size: 18px;
    font-weight: 700;
    line-height: 30px;
    text-transform: uppercase;
}

.contacts-address {
    margin-bottom: 40px;

    color: #666666;
    font-weight: 400;
    line-height: 18px;
    font-style: normal;
}

.contacts-container-relative {
    position: relative;

    line-height: 0;
}

.contacts-card {
    position: absolute;
    top: 55px;
    left: 140px;

    padding: 45px 50px;
    background: white;
}

.contacts-marker {
    position: absolute;
    top: 85px;
    left: 820px;
}


/* footer.socials */

.socials-flex-container {
    display: flex;
    align-items: center;
    min-height: 210px;
}

.socials-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 260px;
    margin: 40px 0;
    margin-right: 100px;
    padding: 0;

    list-style: none;
}

.socials-column-right {
    margin: 40px;
}

.socials-title {
    margin: 0;
    margin-bottom: 10px;

    font-size: 36px;
    font-weight: 700;
    line-height: 36px;
}

.socials-cont {
    margin: 0;

    color: #444444;
    font-weight: 400;
    line-height: 22px;
}

.socials-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;

    border-radius: 50%;
    background-color: #e1e1e1;
}

.socials-button:hover {
    background-color: #e74246;
}

.socials-button:active {
    background-color: #d7373b;
    box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
}

.socials-button:active path {
    fill: rgba(255, 255, 255, 0.3);
}


/* modals.writeus */

.writeus {
    display: none;
}

.writeus h2 {
    font-size: 45px;
    font-weight: 500;
    line-height: 45px;
}

.writeus label {
    font-weight: 700;
    line-height: 18px;
}

.writeus input {
    font: inherit;
    color: #444444;
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;

    background-color: transparent;
    border: 2px solid #d7dcde;
    border-radius: 3px;
    opacity: 0.5;
}

.writeus input:hover {
    border: 2px solid #b4b9bb;
    opacity: 0.5;
}

.writeus input:focus {
    border: 2px solid #000000;
    opacity: 1;
}

.writeus input:invalid {
    color: #e74246;

    border: 2px solid #e74246;
    opacity: 1;
}


/* catalog.html */


/* main */

.main h1 {
    margin: 0;
    padding: 0;

    color: #000000;
    font-size: 55px;
    line-height: 55px;
    text-align: center;

    background-color: #eeeeee;
}


/* filter */

.filter legend {
    margin: 0;
    padding: 0;

    font-size: 18px;
    font-weight: 700;
    line-height: 30px;
    text-transform: uppercase;
    letter-spacing: 0.05px;

    border: none;
}

.filter fieldset {
    border: none;
}

.filter ul {
    margin: 0;
    padding: 0;

    list-style: none;
}

.filter label {
    color: #283136;
    font-weight: 400;
    line-height: 20px;
}